div.container {
    width: 100%;
}

header,
footer {
    color: white;
    clear: left;
    text-align: center;
}

footer {
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #188AAF;
}

header img {
    width: 100%;
    height: 180px;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

    nav ul {
        list-style-type: none;
        padding: 1em;
    }

        nav ul a {
            text-decoration: none;
        }

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

p {
    font-size: 14pt;
    font-weight: 400;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #188DFF;
    color: white;
}

.button {
    background-color: #ACACA2; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

h2 {
    background-color: blue;
    color: white;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=search] {
    width: 25%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    width: 30%;
}

input[type=button]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
