<html>
<head>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/fontawesome-all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="css/index_style.css"/>
</head>
<body class="text-center m-0 p-0">
    
    
    <header></header>
    {{{body}}}
    
    

    
    
    

    
    
    
   
    
    
    
    
    
    
   
    
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script src="js/mine.js"></script>
</body>
