<section id="Home">
    <div class="Dark">
        <div id="Mid" class="w-100">
        <div class="container text-center">
            <div class="k m-4">
               <a href="/Task"><button class="btn">Tasks</button></a>
            </div>
            <div class="k m-4">
                <button class="btn">Tasks</button>
            </div>
            <div class="k m-4">
                <button class="btn">Tasks</button>
            </div>
            <div class="k m-4">
                <button class="btn">Tasks</button>
            </div>
            <div class="k m-4">
                <button class="btn">Tasks</button>
            </div>
        </div>
    </div>
    </div>
</section>