<!-- Personal Page -->
    
       
    
        <!-- Page 2 -->
    <section id= "PerDark"><div class= "PrDark"><section id="PerInfo" class="text-left container-fluid"><div class="container"><div class="Dad p-3"><div class="Image text-center">{{#gigs}}<h6 class="text-light font-weight-bold">{{EmployeeName}}</h6>{{/gigs}}</div><div class="Info p-4 container text-center"><table class="table table-striped"><thead><th>property</th><th>Info</th></thead><tbody>{{#gigs}}<tr><td style="width:40%">Name</td><td>{{EmployeeName}}</td> </tr><tr><td style="width:40%">Department</td><td>{{EmployeeDep}}</td> </tr> <tr><td style="width:40%">Age</td><td>{{EmployeeAge}}</td> </tr>{{/gigs}}</tbody></table></div><div class="form-group text-right"><button class="btn border rounded mt-5 px-5 py-2" id="viewerclose2">Close</button></div></div></div></section></div></section>
    
        <!-- -->
    
<!-- -->


<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script src="/js/tpmine.js"></script>